In [1]:
import pandas as pd

# Ejercicio 1

Obtener la versión de la librería pandas.

In [2]:
print(pd.__version__)

1.3.5

# Ejercicio 2



*   Convertir la lista dada en una estructura pandas Series. 
*   Comprueba su tamaño.
* Utiliza el comando describe() y mira para qué sirve.

In [3]:
datos = [2, 3, 5, 7, 11]
datos_serie=pd.Series(datos)
print(datos_serie.describe())

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64

# Ejercicio 3

* Ahora vuelve a convertir la pandas series de antes a una lista Python.
* Comprueba su tipo con la función type()

In [5]:
datos_serie=datos_serie.tolist()
type(datos_serie)

list

# Ejercicio 4

Aplicar las operaciones aritméticas básicas sobre los objetos Series dados.

Prueba a:
* Sumar
* Restar
* Multiplicar
* Dividir

In [6]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([9, 8, 7, 6, 5])

In [7]:
serie_suma = serie1 + serie2
print(serie_suma)
serie_resta = serie1 - serie2
print(serie_resta)
serie_mult = serie1 * serie2
print(serie_mult)
serie_div = serie1 / serie2
print(serie_div)

0    10
1    10
2    10
3    10
4    10
dtype: int64
0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64
0     9
1    16
2    21
3    24
4    25
dtype: int64
0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
dtype: float64

# Ejercicio 5

Usar operadores relacionales para comparar los objetos Series dados.

In [10]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [16]:
serie_eq = serie1 == serie2
print(serie_eq)
serie_neq = serie1 != serie2
print(serie_neq)
serie_may = serie1 > serie2
print(serie_may)
serie_menor = serie1 < serie2
print(serie_menor)
serie_in = serie1.isin(serie2)
print(serie_in)

0    False
1    False
2    False
3     True
4    False
dtype: bool
0     True
1     True
2     True
3    False
4     True
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3    False
4    False
dtype: bool
0    False
1    False
2     True
3     True
4    False
dtype: bool

¿Qué ocurre? ¿Se comparan todos los elementos? ¿Se compara el objeto únicamente...?

In [ ]:
# Se compara elemento por elemnto de ambas listas con sus respectivas posiciones, el 0 con el 0 y así...



```
Introduce aquí tu respuesta
```

# Ejercicio 6



*   Convertir el diccionario Python en un objeto Series.
*   Intenta imprimir un pantalla algún valor de la serie.

PD: Fíjate como accedemos al valor.

In [22]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
series = pd.Series(datos)
print(series['c'])

30

# Ejercicio 7

Crea un array NumPy y conviertelo en un objeto Series.

In [24]:
#Crea un array NumPy 
import numpy as np
vector = np.array([1, 2, 3, 4])

In [25]:
#Conviertelo en un objeto Series.
serie2 = pd.Series(vector)
serie2

0    1
1    2
2    3
3    4
dtype: int64

# Ejercicio 8

Cambiar el tipo de datos de un objeto Series.



*   Cambiar la siguiente serie de Strings en númerica

In [30]:
datos = pd.Series(['100', '200', '', '300.15', '500.8'])

datos_numeros = pd.to_numeric(datos, errors='coerce')

print(datos_numeros)

0    100.00
1    200.00
2       NaN
3    300.15
4    500.80
dtype: float64

# Ejercicio 9

Obtener una columna de un objeto DataFrame como un objeto Series.

In [31]:
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

   A  B   C
0  1  9   2
1  2  8   3
2  3  7   5
3  4  6   7
4  5  5  11

In [35]:

series_one = pd.Series(df.A)
print(series_one)
print(type(series_one))

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64
<class 'pandas.core.series.Series'>

# Ejercicio 10 (Opcional)

Convertir un objeto Series con múltiples listas en un único objeto Series.

In [ ]:
datos = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

# Ejercicio 11

Ordenar los valores de un objeto Series con el método sort_values.

In [41]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

In [43]:
serie.sort_values()

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

# Ejercicio 12

Agregar datos a un objeto Series existente.

* Usa el método append()
* IMPORTANTE: Si estamos trabajando con pandas series y aplicamos el método append(), espera recibir como argumento una pandas series.

In [55]:
datos = ['Python', 'C#', 'C++', 'Java', 'PHP']

serie = pd.Series(datos)

serie = serie.append(pd.Series(['JavaScript', 'Si has llegado hasta aquí sabemos que necesitas contratar a alguien. Soy esa persona']))

print(serie)

0                                               Python
1                                                   C#
2                                                  C++
3                                                 Java
4                                                  PHP
0                                           JavaScript
1    Si has llegado hasta aquí sabemos que necesita...
dtype: object

# Ejercicio 13

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.

Quédate con los datos que sean menores de 6.

In [56]:
datos = [0, 1, 7, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

# aplicar filtro para obtener solo los valores menores que 6
serie_filtrada = serie[serie < 6]

print(serie_filtrada)

0    0
1    1
3    3
4    4
5    5
dtype: int64

# Ejercicio 14

* Tenemos un objeto series con letras como Indices y números como valores
* Cambiar el orden del índice de un objeto Series.
* El orden tiene que ser: ['B', 'A', 'C', 'D', 'E']

PISTA: Podrías buscar en internet how to change index order series python

In [57]:
datos = [1, 2, 3, 4, 5]

indices = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(data=datos, index=indices)

# cambiar el orden del índice de la serie
nuevos_indices = ['B', 'A', 'C', 'D', 'E']
serie = serie.reindex(nuevos_indices)

print(serie)

B    2
A    1
C    3
D    4
E    5
dtype: int64

# Ejercicio 15

Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [58]:
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

serie = pd.Series(datos)

# calcular la desviación estándar de la serie
desviacion_estandar = serie.std()

# calcular el promedio de la serie
promedio = serie.mean()

print("Desviación estándar: ", desviacion_estandar)
print("Promedio: ", promedio)

Desviación estándar:  9.024041962077378
Promedio:  12.9

# Ejercicio 16

Calcular los valores mínimo y máximo de un objeto Series.

In [60]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

# calcular el valor mínimo de la serie
valor_minimo = serie.min()

# calcular el valor máximo de la serie
valor_maximo = serie.max()

print("Valor mínimo: ", valor_minimo)
print("Valor máximo: ", valor_maximo)

Valor mínimo:  0
Valor máximo:  29

# Ejercicio 17 (Opcional)

Obtener estádisticas básicas de un objeto Series con el método `describe`.

## Ejercicio 18

Obtener los elementos impares de un objeto Series numérico.

In [61]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

impares = serie.loc[serie % 2 != 0]

print("Elementos impares: ")
print(impares)

Elementos impares:
0    19
2    13
4    23
5    29
6    11
7     7
dtype: int64

# Ejercicio 19 (Opcional)

Extraer los datos de un objeto Series como un objeto NumPy.

# Ejercicio 20

Comprobar si una serie contiene valores NaN. Ya existe una función que lo comprueba.

In [ ]:
datos = ['20', '30', '', '50', 100]

serie = pd.Series(datos)
serie = pd.to_numeric(serie)

serie

# Ejercicio 21 (Opcional)

Operaciones aritméticas con métodos de la clase Series: `add`, `subtract`, `multiply`, y `divide`.

In [ ]:
serie1 = pd.Series(list(range(1, 11)))

serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
serie2 = pd.Series(list(range(10, 0, -1)))

serie2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

# Ejercicio 22

Eliminar los valores NaN de una serie con el método dropna.

In [ ]:
datos = ['2.3', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

0       2.3
1    Python
2        90
3       100
4       NaN
5       0.5
6        .9
dtype: object

# Ejercicio 23

Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [ ]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

0         1
1         3
2         7
3        11
4    Python
5      -0.5
6       NaN
dtype: object